.quest-list {
  display: flex;
  padding: 8px;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
  height: 440px;
  border: 2px solid #ffffff;
  background-color: #1F3656;
}

.quest-list::-webkit-scrollbar {
  width: 8px;
  border-radius: 0;
}

.quest-list::-webkit-scrollbar-thumb {
  background: #fff;
  border: 2px solid #000;
}

.quest-list::-webkit-scrollbar-track {
  background: #1F3656;
  border: 2px solid #000;
}

@media (max-width: 768px) {
  .quest-list {
    height: 360px;
  }
}