.quest-list {
  display: flex;
  padding: 8px;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
  height: 440px;
  border: 2px solid #ffffff;
  background-color: var(--quest-bg-color);
}

.quest-list::-webkit-scrollbar {
  width: 8px;
  border-radius: 0;
}

.quest-list::-webkit-scrollbar-thumb {
  background: #fff;
  border: 2px solid #fff;
}

.quest-list::-webkit-scrollbar-track {
  background: var(--quest-bg-color);
  border: none;
  border-left: 2px solid #fff;
}

.daily-bg-color {
  background-color: var(--weekly-list-bg-color);
}
.weekly-bg-color {
  background-color: var(--daily-list-bg-color);
}

@media (max-width: 768px) {
  .quest-list {
    height: 360px;
  }
}
