.input-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-label {
  align-self: flex-start;
  color: white;
  margin-left: 2px;
  transform: translateY(50%);
  font-size: 14px;
}

.input-field-inside {
  width: 100%;
  padding: 10px;
  background-color: #f8f0e0;
  border: 1px solid var(--black);
  color: var(--black);
  outline: none;
}

.input-field-wrapper {
  position: relative;
}

.input-field:disabled {
  background-color: #c2c2c2;
  color: #414141;
  cursor: not-allowed;
}

.input-field-error {
  font-size: 14px;
  color: var(--fail-color);
  margin-left: 1px;
  margin-top: -4px;
}
