.quests-controller-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.quests-page-header {
  width: 100%;
  display: flex;
  gap: 16px;
}

.quests-progress-card {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
  width: 420px;
  height: 220px;
  background-color: var(--white);
}

.quests-progress-header {
  display: flex;
  width: 100%;
}
