.quests-page-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 0;
}

.quests-controller-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.quests-page-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 16px;
}

@media (max-width: 768px) {
  .quests-page-header {
    gap: 8px;
  }
  .quests-page-container {
    height: calc(100dvh - 62px);
    gap: 8px;
  }
}
