.mobile-preview {
  display: flex;
  width: 100%;
  gap: 16px;
  margin-bottom: 4px;
}

.mobile-preview-item {
  border: 2px solid black;
  padding: 8px;
}

.mobile-item-effects {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
