.quest-card {
  border: 2px solid var(--white);
  padding: 8px;
  width: 334px;
  background-color: var(--white);
  display: flex;
  align-items: start;
  gap: 8px;
  position: relative;
  overflow: visible;
}

.quest-card:hover {
  border-color: var(--black);
}

.checkbox-area {
  height: 100%;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-description {
  width: 100%;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.quest-card.status-completed {
  background-color: var(--light-gray);
  border-color: var(--light-gray);
}

@media (max-width: 768px) {
  .quest-card {
    width: 100%;
  }

  .checkbox-area {
    padding-right: 4px;
  }
}
