.quest-card {
  border: 2px solid var(--white);
  padding: 8px;
  width: 100%;
  background-color: var(--white);
  display: flex;
  align-items: start;
  gap: 8px;
  position: relative;
  overflow: visible;
}

.quest-card:hover {
  border-color: var(--black);
}

.button-area {
  margin-left: 4px;
  height: 100%;
}

.quest-edit-buttons {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  height: 100%;
}

.quest-card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 8px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-description {
  width: 100%;
}

.card-footer {
  width: 100%;
  display: flex;
  margin-top: auto;

  justify-content: space-between;
}

.quest-card.status-completed {
  background-color: var(--light-gray);
  border-color: var(--light-gray);
}

@media (max-width: 768px) {
  .checkbox-area {
    padding-right: 4px;
  }
}
