.quest-card {
  width: 100%;
  border: 2px solid #ffffff;
  padding: 8px;
  width: 342px;
  background-color: #fff;
  display: flex;
  align-items: start;
  gap: 8px;
}

.quest-card:hover {
  border-color: #3498db;
}

.checkbox-area {
  padding-right: 8px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-description {
  width: 100%;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .quest-card {
    width: 100%;
    max-width: 470px;
  }

  .checkbox-area {
    padding-right: 4px;
  }
}
