.exp-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.exp-bar {
  background-color: #463c38fd;
  border: 2px solid #463c38fd;
  overflow: hidden;
  width: 200px;
  height: 16px;
}
@media (max-width: 360px) {
  .exp-bar {
    width: 100%;
  }
}

.exp-bar__fill {
  background: linear-gradient(to right, #f5f254, #ffe600);
  width: var(--exp-progress, 0%);
  height: 16px;
  transition: width 0.5s ease-out;
}

.exp-bar.no-transition .exp-bar__fill {
  transition: none;
  width: 0;
}
