.experience-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.experience-bar {
  background-color: #413834fd;
  border: 2px solid var(--black);
  width: 180px;
  height: 18px;
}

@media (max-width: 360px) {
  .experience-bar {
    width: 100%;
  }
}
