.home-page-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.home-header {
  display: flex;
  width: 100%;
  gap: 8px;
}

.home-ritual-wrapper {
  display: flex;
}

.quests-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  gap: 16px;
}

@media (max-width: 768px) {
  .quests-wrapper {
    flex-direction: column;
    flex: 1;
    min-height: 0;
  }
  .home-page-container {
    gap: 8px;
    height: calc(100dvh - 64px);
  }
  .home-header {
    flex-direction: column;
  }
}
