.home-page-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.home-header {
  display: flex;
  gap: 16px;
  width: 100%;
}

.expedition-and-ritual-wrapper {
  display: flex;
  gap: 8px;
  width: 100%;
}

.quests-wrapper {
  display: flex;
  gap: 16px;
}

@media (max-width: 768px) {
  .quests-wrapper {
    flex: 1;
    min-height: 0;
    width: 100%;
  }
  .home-page-container {
    gap: 8px;
    width: 100%;
    height: calc(100dvh - 62px);
  }
  .home-header {
    flex-direction: column;
    gap: 8px;
  }
}
