.modal-overlay {
  position: fixed;
  inset: 0;
  background: #000000be;
  display: grid;
  place-items: center;
  z-index: 1000;
}

.modal {
  background: var(--black);
  border: 2px solid var(--white);
  padding: 12px;
  width: 360px;
  font-family: "Press Start 2P", monospace;
  box-shadow: 8px 8px 0 #000;
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--white);
  padding-bottom: 8px;
}

.close-btn {
  font-size: 14px;
  line-height: 14px;
  padding: 2px 6px;
  cursor: pointer;
}

.modal-content {
  font-size: 10px;
  padding: 16px 0
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}