.modal-overlay {
  position: fixed;
  inset: 0;
  background: #000000a1;
  display: grid;
  place-items: center;
  z-index: 1000;
}

.modal {
  background: #1d1b29;
  border: 2px solid var(--white);
  padding: 12px;
  width: 420px;
  box-shadow: 8px 8px 0 #000;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--white);
  padding-bottom: 10px;
}

.modal-header .close-button {
  margin-top: -8px;
}

.modal-content {
  margin-top: 16px;
  max-height: 320px;
  overflow-y: auto;
}
.modal-content::-webkit-scrollbar {
  width: 8px;
  border-radius: 0;
}

.modal-content::-webkit-scrollbar-thumb {
  background: #2d2d64;
  border: 1px solid #ffffff;
}

.modal-content::-webkit-scrollbar-track {
  border: 1px solid rgb(139, 139, 139);
}

.modal-footer {
  display: flex;
  justify-content: end;
  margin-top: 24px;
}

@media (max-width: 480px) {
  .modal {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    border-top: 2px solid var(--white);
  }
  .custom-modal-footer {
    flex-direction: column;
    gap: 4px;
  }
}
