.navbar {
  display: flex;
  padding: 12px;
  background: #372f79;
}

.navbar-item {
  display: flex;
  gap: 8px;
  padding: 8px 12px;
  border: transparent 2px solid;
  align-items: center;
  color: #ffffff;
  position: relative;
}

.navbar-item.active {
  border-color: #fff;
  background: var(--bg-primary);
}

.navbar-required-level {
  position: absolute;
  top: -2px;
  left: 12px;
  z-index: 2;
}

.icon-fix-hood {
  transform: translateY(2px);
}

.icon-fix-compass {
  transform: translateY(1px);
}

.navbar-item.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    bottom: 0;
    top: auto;
    width: 100%;
    z-index: 100;
    padding: 0;
  }
  .navbar-item {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 12px;
    border: none;
    color: #ffffff;
  }
  .navbar-item.active {
    background: var(--bg-primary);
  }
}
