.navbar {
  display: flex;
  padding: 12px;
  background: #2e2869;
}

.navbar-item {
  display: flex;
  gap: 8px;
  padding: 8px 12px;
  border: transparent 2px solid;
  align-items: center;
}

.navbar-item.active {
  border-color: #fff;
  background: var(--bg-primary);
}

.icon-fix-hood {
  transform: translateY(2px);
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    bottom: 0;
    top: auto;
    width: 100%;
    z-index: 100;
    padding: 0;
  }
  .navbar-item {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 12px;
    border: none;
    color: #ffffff;
  }
  .navbar-item.active {
    background: var(--bg-primary);
  }
}
