.inventory-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  height: 340px;
  width: 576px;
}

.inventory-header {
  display: flex;
  width: 100%;
}

.inventory-container {
  display: flex;
  width: 100%;
  background-color: #613e32;
  border: 2px solid white;
}

.inventory-content {
  padding: 8px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inventory-grid {
  display: inline-grid;
  grid-template-columns: repeat(6, 44px);
  grid-auto-rows: 44px;
  gap: 8px;
}

@media (max-width: 348px) {
}
