.quest-board {
  position: relative;
}

.effects-layer {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: visible;
  z-index: 10;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
}

.list-title {
  margin-bottom: 8px;
}

.list {
  display: flex;
  padding: 8px;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
  height: 400px;
  width: 348px;
  border: 2px solid var(--white);
  background-color: var(--list-bg-color);
}

.list::-webkit-scrollbar {
  width: 8px;
  border-radius: 0;
}

.list::-webkit-scrollbar-thumb {
  background: var(--white);
}

.list::-webkit-scrollbar-track {
  background: var(--list-bg-color);
  border: none;
  border-left: 2px solid #fff;
}

.list-bg-color {
  background-color: var(--list-bg-color);
}

@media (max-width: 768px) {
  .list {
    height:340px;
    width: 100%;
  }
}
:root {
  --list-bg-color: #1a5353;
  --card-title: rgb(82, 82, 82);
}
