.quest-board {
  position: relative;
  height: 480px;
  min-height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--list-bg-color);

}

.list-wrapper {
  display: flex;
  flex-direction: column;
}

.list-title {
  margin-bottom: 8px;
}

.list {
  display: flex;
  padding: 8px;
  height: 100%;
  flex-direction: column;
  gap: 8px;
  width: 348px;
}

.quest-board::-webkit-scrollbar {
  width: 8px;
  border-radius: 0;
}

.quest-board::-webkit-scrollbar-thumb {
  background: var(--white);
}

.quest-board::-webkit-scrollbar-track {
  background: #5e5e5e;
  border: 2px solid #fff;
}

@media (max-width: 768px) {
  .list {
    width: 100%;
  }
  .list-wrapper {
    flex: 1;
    min-height: 0;
  }
  .quest-board {
    position: relative;
    flex: 1;
    min-height: 0;
  }
}
:root {
  --list-bg-color: #3f2b50;
  --card-title: rgb(82, 82, 82);
}
