.quest-board {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 460px;
  min-height: 280px;
  background-color: var(--list-bg-color);
  overflow: hidden;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.list-title {
  margin-bottom: 8px;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 8px;
  height: 100%;
  gap: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: auto;
}

@supports (overflow: overlay) {
  .list {
    overflow-y: overlay;
  }
}

.list::-webkit-scrollbar {
  width: 8px;
  border-radius: 0;
}

.list::-webkit-scrollbar-thumb {
  background: #2d2d64;
  border: 1px solid #ffffff;
}

.list::-webkit-scrollbar-track {
  border: 1px solid rgb(139, 139, 139);
}

@media (max-width: 768px) {
  .quest-board {
    height: auto;
    flex: 1;
    min-height: 0;
  }
}
:root {
  --list-bg-color: #3f2b50;
  --card-title: rgb(82, 82, 82);
}
