.quest-card {
  border: 2px solid #ffffff;
  padding: 8px;
  width: 334px;
  background-color: #fff;
  display: flex;
  align-items: start;
  gap: 8px;
  position: relative;
  overflow: visible;
}

.quest-card:hover {
  border-color: #000;
}

.checkbox-area {
  height: 100%;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-description {
  width: 100%;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .quest-card {
    width: 100%;
    max-width: 470px;
  }

  .checkbox-area {
    padding-right: 4px;
  }
}

.quest-card.status-completed {
  background-color: #bbbbbb;
  border-color: #bbbbbb;
}
