.profile-page-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.profile-page-header {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

@media (max-width: 768px) {
  .profile-page-container {
    height: calc(100dvh - 62px);
    gap: 8px;
  }
  .profile-page-header {
    gap: 8px;
    flex-direction: column;
  }
}
