.rituals-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.rituals-page-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ritual-page-content {
  display: flex;
  gap: 8px;
}

.ritual-cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 768px) {
  .rituals-page {
    gap: 8px;
  }
  .ritual-page-content {
    flex-direction: column;
  }
}
