.tabs-container {
  display: flex;
  gap: 8px;
}

.tab {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid transparent;
}

.tab-active {
  border: 2px solid white;
  background: var(--tab-active-bg);
}
