.profile-card {
  display: flex;
  padding: 8px;
  gap: 8px;
  width: 378px;
  background-color: var(--white);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.photo-wrapper {
  background: var(--black);
  border: 2px solid var(--black);
  display: flex;
}

.level-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.level-label {
  margin-right: 8px;
}

.profile-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.buffs-wrapper {
  display: flex;
  gap: 4px;
}

.achievments-wrapper {
  align-content: end;
}

@media (max-width: 768px) {
  .profile-card {
    width: 100%;
  }
}

@media (max-width: 348px) {
  .photo-wrapper {
    display: none;
  }
}
