.ritual-card {
  display: flex;
  background: var(--ritual-card-color);
  width: 480px;
  padding: 8px;
  height: 100%;
}

.ritual-card-icon {
  display: flex;
  flex-direction: column;
  margin: 0 16px 0 8px;
  height: auto;
  align-items: center;
  justify-content: center;
}

.ritual-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  text-align: left;
}

.ritual-card-meta {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .ritual-card {
    width: 100%;
  }
}
