@import "@joacod/pixel-ui/components";
@import "@joacod/pixel-ui/font";

@font-face {
  font-family: "Unifontex";
  src: url("/src/assets/fonts/UnifontExMono.ttf") format("truetype");
}

:root {
  --bg-primary: #090720;
  --bg-secondary: #1a1925;

  --text-primary: #ffffff;
  --text-secondary: #a7a7a7;

  min-height: 100vh;
  --font-main: "Unifontex", monospace;

  --success-color: #51ff51;
  --fail-color: #ff4444;

  --white: #f7f7f7;
  --black: #1d1d1d;
  --light-gray: #a1a1a1;

  --daily-list-bg-color: #4f7cbb;
  --weekly-list-bg-color: #d3792f;
  --card-title: #3b3b3bff;
}

body {
  background-color: var(--bg-primary);
  font-family: var(--font-main);
  color: var(--text-primary);
}
