@font-face {
  font-family: "Unifontex";
  src: url("/src/assets/fonts/UnifontExMono.ttf") format("truetype");
}

:root {
  --font-main: "Unifontex", monospace;

  --bg-primary: #090720;
  --text-primary: #ffffff;
  --text-secondary: #a7a7a7;
  --success-color: #51ff51;
  --fail-color: #ff4444;

  --white: #f7f7f7;
  --black: #1d1d1d;
  --light-gray: #b1b1b1;

  --sonner-bg: #000;
  --sonner-text: #00ff88;
  --sonner-border: #00ff88;
}

html,
body {
  background-color: var(--bg-primary);
  font-family: var(--font-main);
  margin: 0;
}
input,
select {
  font-family: "Unifontex", monospace;
  font-size: 14px;
}

p,
span,
a {
  margin: 0;
  text-decoration: none;
}
button {
  font-family: "Unifontex", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[data-sonner-toast] {
  border-radius: 0 !important;
  background: #ffffff !important;
  font-size: 14px !important;
  color: #000000 !important;
  border: 3px solid #000000 !important;
  padding: 12px !important;
  font-family: "Unifontex", monospace;
}