.expedition-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: calc(100vh - 72px);
}

.expedition-wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

@media (max-width: 768px) {
  .expedition-wrapper {
    flex-direction: column;
    height: calc(100vh - 72px);
  }
}
