.text-ui {
  text-align: var(--align, left);
  font-weight: var(--weight, normal);
  color: var(--color, var(--text-primary));
  text-decoration: var(--underline, none);
  font-style: var(--italic, normal);
  font-size: var(--text-size, var(--text-md));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.1);
}

:root {
  --text-xxs: 0.625rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1.02rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
}
