.text-ui {
  text-align: var(--align, left);
  font-weight: var(--weight, normal);
  color: var(--color, --text-primary);
  text-decoration: var(--underline, none);
  font-style: var(--italic, normal);
  font-size: var(--text-size, var(--text-md));
  line-height: var(--text-size);
}

:root {
  --text-xs: 8px;
  --text-sm: 12px;
  --text-md: 16px;
  --text-lg: 20px;
  --text-xl: 28px;
}
